<form id="login" method="POST">
    <input type="email" name="email" value="" placeholder="ingresa tu email">
    <br></br>
    <input type="password" name="password" value="" placeholder="ingresa tu contraseña">
    <br><br>
    <input type="submit" value="login">
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData  = new FormData(formLogin);//todos los elementos del formulario  

    formLogin.addEventListener('submit', event =>{  //escuche algun evento en el button
        event.preventDefault() //para que no recarge la pagina
        fetch('/signin',{
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })
     })
</script>